<h2>Company List</h2>

{% if Company_list %} <!-- check if list is full or empty -->
<ul>

  {% for Company in Company_list %}
      <li><a href="/supply/{{ Company.id }}">{{Company.CompanyName}}</a>
          </li>
  {% endfor %}

</ul>
{% else %}
<p>No Companies in database</p>
{% endif %}

<h2> Regiment List</h2>

{% if Reg_List %}

<ul>

    {% for REG in Reg_List %}
    <li><a href="/supply{{ REG.RegNum}}"> {{REG.RegNum}}</a>
        </li>
    {% endfor %}
</ul>
{% else %}
<p> No Regiments in database</p>
{% endif %}