{% extends 'cadettracker/base_generic.html' %}

{% block company_content %}

<body style="background-color:white;">
<h2 style = "text-align:center;">Item list for {{ Co.CompanyName }} {{ Co.regiment }}</h2>
<form method = 'post'>
    {% csrf_token %}
    {% for field in form %}
    <div class = 'row'>
      <div class = 'col-sm'>
        <b>{{ field.label_tag }}</b>
      </div>
      <div class = 'col-sm'>
        {{ field }}
    </div>
    {% endfor %}
    </div>
    <input type = 'submit' value = 'Submit' />
</form>

{% endblock %}
