<h2>Item list</h2>

Regiment: {{ regi.RegNum }}
{% if regi %}
<ul>


{% for item in regi.company_set.all %}
  <h3>{{ item }} </h3>
    {% if regi.reghaspersonnel_set %}
      {% for person in regi.reghaspersonnel_set.all %}
    <h4> {{ person }}</h4>
        {% endfor %}
    {% else %}
    <p> No personnel in database</p>
    {% endif %}

  {% for comp in item.companyneedssupply_set.all %}
    <li>{{ comp }}</li>
  {% endfor %}

{% endfor %}



</ul>
{% else %}
<p>No suppliessssssss in database</p>
{% endif %}