<h2>Item list</h2>

Regiment: {{ regi.RegNum }}
{% if regi %}
<ul>


{% for co in regi.company_set.all %}
  <h3>{{ co }} </h3>
    {% if regi.reghaspersonnel_set %}
      {% for person in co.personnel_set.all %}
    <h4> {{ person }}</h4>
        {% endfor %}
    {% else %}
    <p> No personnel in database</p>
    {% endif %}

  {% for item in co.companyneedssupply_set.all %}
    <li>{{ item }}</li>
  <li><a href="{% url 'fulfillRequest' item.id %}"> Fulfill Request</a></li>
  {% endfor %}

{% endfor %}



</ul>
{% else %}
<p>No suppliessssssss in database</p>
{% endif %}